.popup {
  padding: 24px;
  border: none;
  border-radius: 4px;
  background-color: rgb(252, 252, 252);
}
.popup::backdrop {
  background-color: rgba(46, 47, 66, 0.4);
}

.popup__header {
  margin-top: 48px;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
}

.popup__close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 8px;
  border: none;
  border-radius: 50%;
  background-color: rgba(231, 233, 252, 1);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.popup__close-button:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.popup__close-icon {
  display: block;
  width: 8px;
  height: 8px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(142, 143, 153, 1);
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
}

.icon-phone {
  top: 209px;
  left: 40px;
}

.icon-name {
  top: 141px;
  left: 40px;
}

.icon-mail {
  top: 277px;
  left: 40px;
}

.form__input {
  position: relative;
  width: 360px;
  margin-bottom: 8px;
  padding: 11px 16px 11px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__input:focus-within + .form__icon {
  fill: var(--primary-brand-color);
}

.form__textarea {
  resize: none;
  margin-bottom: 16px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__textarea::placeholder {
  color: rgba(142, 143, 153, 1);
}

.form__privacy-wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  align-items: center;
}

.form__label-privacy {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}

.form__privacy-link {
  text-decoration: none;
  color: var(--primary-brand-color);
}

.form__submit {
  width: 170px;
  height: 51px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--white-bcg-color);
}

.form__submit:hover,
.form__submit:focus {
  background-color: var(--pressed-state-color);
}