.works {
  text-align: center;
  padding-bottom: 120px;

  @media screen and (max-width: 1151px) {
    display: none;
  }
}

.works__title {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  color: var(--dark-color);

}

.works__wrapper {
  display: flex;
  gap: 24px;
}

.works__img {
  display: block;
}