/* FILTER */

.hide-card {
  display: none;
}

.filters {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 72px;
  border: none;
}

.filters__label {
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--light-color);
  cursor: pointer;
}

.filters__input {
  appearance: none;
}

.filters__span {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--primary-brand-color);
}

.filters__label:focus-within {
  background-color: var(--pressed-state-color);
  border: 1px solid var(--pressed-state-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
   0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filters__label:focus-within > .filters__span {
  color: var(--white-bcg-color);
}

/* CARDS */

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 48px;
  column-gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card {
  border-radius: 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.card__img {
  margin-bottom: 32px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-color);
}

.card__description {
  margin-top: 0;
  margin-bottom: 32px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}



